<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.affirmedme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AffirmedMe">
        <activity
            android:name=".views.main.MainActivity"
            android:theme="@style/HiddenThemeDrawer">

        </activity>
        <activity
            android:name=".views.invitemember.InviteContactActivity"
            android:theme="@style/HiddenTitleTheme">

        </activity>
        <activity
            android:name=".views.contact.ContactActivity"
            android:theme="@style/HiddenTitleTheme">

        </activity>
        <activity
            android:name=".views.signup.SignupActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".views.sigin.SiginActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".views.notification.NotificationActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".views.auth.AuthActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".views.welcome.WelcomeActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".views.intro.OnboardActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".views.splash.SplashActivity"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>